{# templates/lucky/number.html.twig #}

<h1>Your lucky number is  {{ number }} y el siguiente es {{ number2}} </h1>
<hr>
{% for i in 1..10 %}
    <div class="{{ cycle(['even', 'odd'], i) }}">
      <!-- some HTML here -->
    </div>
{% endfor %}